<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Gradebook Generator - D2L Brightspace - VueJS</title>


  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css'>
  <link rel="stylesheet" href="css/style.css">

  <script src="js/ga.js"></script>
  <style>
    .container {
      margin-top: 2rem;
    }

    .setup input {
      margin-bottom: 1rem;
    }
    img{
      max-width: 400px;
      border: 1px solid black;
      margin: .5rem;
    }
  </style>

</head>

<body>
  <div class="container" id="app">
    <h1>{{appTitle}}</h1>
    <hr>
    <div class="row">
      <div class="col">


        <div class="form-group setup">
          <label for="itempre">Optional: Grade Item Prefix</label>
          <input v-model="prefix" type="text" class="form-control" id="itempre" aria-describedby="prefix" autocomplete="off">

          <label for="repeat">Grade Item Repeat Count</label>
          <input v-model="repeat" type="number" step="1" class="form-control" id="repeat" aria-describedby="prefix" autocomplete="off">

          <label for="itemsuf">Optional: Grade Item Suffix</label>
          <input v-model="suffix" type="text" class="form-control" id="itemsuf" aria-describedby="prefix" autocomplete="off">

        </div>

        <ul>
          <li>Complete the values</li>
          <li>Download CSV File</li>
          <li>Access the
            <mark>Enter Grades</mark> tab from within the
            <mark>Grades</mark> tool in D2L Brightspace
            <li>Select
              <mark>Import</mark> and check the box:
              <mark>Create new grade item for unrecognized items</mark>
            </li>
            <li>Complete the details required (points, categories)</li>
            <li>Use the
              <mark>Bulk Edit</mark> option from your
              <mark>manage grades</mark> tab within the
              <mark>Grades</mark> tool to add more details, categories, and values</li>

        </ul>

        
       
      </div>
      <div class="col">

        <div class="form-group">

          <label for="previewOutput">Grade Items Preview</label>
          <textarea v-model="previewOutput" class="form-control" id="previewOutput" rows="7" readonly></textarea>

          <label for="textOutput">CSV Output</label>
          <textarea v-model="csvOutput" class="form-control" id="textOutput" rows="7"></textarea>
        </div>
        <input v-on:click="downCSV" type="button" id="download-csv" value="Download Grades.csv" />
      </div>
    </div>
    <p><em>The 'preview import' screen will say 'no items found' since you aren't importing grade values, just grade items. Don't worry, it'll work.</em></p>
    <hr>
    <div class="row">
      <div class="col"><img src="./assets/import.jpg" alt="screenshot of import button"></div>
      <div class="col"><img src="./assets/newitem.jpg" alt="screenshot of new item"></div>
      <div class="col"><img src="./assets/createnewitems.jpg" alt="create new items"></div>
      <div class="col"><img src="./assets/itemprop.jpg" alt="item properties"></div>




    </div>
    <footer>
      <h2><small>Other Tools</small></h2>
      <ul>
          <li><a href="./bulkattendace.html">Bulk Attendance Generator</a></li>
          <li><a href="./gradeitems.html">Bulk Grade Item Generator</a></li>
          <li><a href="./dataset.html">Dataset Downloader</a></li>
          <li><a href="./index.html">Enroll / Unenroll CSV Generator</a></li>
          <li><a href="./xmlobjectives.html">Objectives Generator</a></li><br>
          <li><a href="./randomtip.html">Random Tip Widget</a></li>
          <li><a href="./doorbell.html">Doorbell.io integration Example</a></li>
      </ul>
      <p class="name"><small>Created by <a href="http://thejoshdean.com">Josh Dean</a> 2017</small></p>
    </footer>
  </div>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js'></script>

  <script>
    var app6 = new Vue({
      el: "#app",
      data: {
        appTitle: "Grade Items Bulk Generator",
        beginLine: "OrgDefinedId",
        requiredSuffix: "Points Grade",
        endLine: "End-of-Line Indicator",
        prefix: "Chapter",
        repeat: "6",
        suffix: "Quiz"
      },
      computed: {
        csvOutput: function () {
          return this.csvLoop();
        },
        previewOutput: function () {
          return this.previewLoop();
        }
      },
      methods: {
        csvLoop: function () {
          let output = "OrgDefinedId,";
          for (i = 1; i <= this.repeat; i++) {
            if (this.prefix != "") {
              output += this.prefix + " ";
            }

            output += i;

            if (this.suffix != "") {
              output += " " + this.suffix;
            }

            output += " " + this.requiredSuffix;
            output += ",";
          }
          output += this.endLine;
          // this.csvOutput = output;
          return output;
        },
        previewLoop: function () {
          let output = "";
          for (i = 1; i <= this.repeat; i++) {
            if (this.prefix != "") {
              output += this.prefix + " ";
            }

            output += i + " ";

            if (this.suffix != "") {
              output += " " + this.suffix;
            }
            output += "\n";
          }
          return output;
        },
        downCSV: function () {
          let text = this.csvOutput;
          let d = new Date();
          let filename = "grades to import " + d.toDateString() + ".csv";
          download(filename, text);
        }
      }
    });

    function download(filename, text) {
      var element = document.createElement("a");
      element.setAttribute(
        "href",
        "data:text/plain;charset=utf-8," + encodeURIComponent(text)
      );
      element.setAttribute("download", filename);
      element.style.display = "none";
      document.body.appendChild(element);
      element.click();
      document.body.removeChild(element);
    }

  </script>


</body>

</html>