<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>XML Competencies Objectives Generator for D2L</title>
  
  
  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css'>

<link rel="stylesheet" href="css/style.css">
   <script src="js/ga.js"></script>

   <style>
   div#xmlOutput {
    width: 100%;
    height: 450px;
    word-wrap: break-word;
/*     overflow-x: hidden; */
    overflow-y: scroll;
}
input{
  width: 95%;
  
}
#dwn-btn-txt, #dwn-btn-xml{
  width: auto;
}

   </style>
</head>

<body>
  <div ng-app="surfacearea" ng-controller="myCtrl" class="container">
  <h1>{{appTitle}}</h1>
  <hr>
  <div class="row">
    <div class="col-sm-6">
      <p>{{directions}}</p><p>Name | Description <small>(optional)</small> | Identifier <small>(optional)</small></p>
      <label for="comment">Objectives:</label>
      <textarea ng-model="list" ng-list="&#10;" ng-trim="false" class="form-control" rows="20" id="orgIds" placeholder="Objectives on separate lines. Separate the name, description, and identifier by tabs."></textarea>
    </div>
    <div class="col-sm-6">
      <label for="xmlOutput">XML Output (click to select all):</label>
      <div onclick="selectText('xmlOutput')" id="xmlOutput">{{xml.header}}
        <div ng-trim="false" ng-repeat="x in list track by $index">{{objective.objectiveStart}}{{objective.nameStart}}{{x|split:'\t':0}}{{objective.nameEnd}}{{objective.descriptionStart}}{{x|split:'\t':1}}{{objective.descriptionEnd}}{{objective.descriptionIsHTML}}{{objective.additionalIdStart}}{{x|split:'\t':2}}{{objective.additionalIdEnd}}{{objective.theRestofit}}{{objective.objectiveEnd}}</div>{{xml.footer}}</div>
      <br><hr>
      <input type="button" id="dwn-btn-xml" value="Download .xml files: competencies and manifest" /><hr>
      <p>{{zipdirections}}</p>
    </div>
  </div>
  <footer>
<h2><small>Other Tools</small></h2>
  <ul>
      <li><a href="./gradeitems.html">Bulk Grade Item Generator</a></li>
      <li><a href="./dataset.html">Dataset Downloader</a></li>
      <li><a href="./index.html">Enroll / Unenroll CSV Generator</a></li>
      <li><a href="./xmlobjectives.html">Objectives Generator</a></li><br>
      <li><a href="./randomtip.html">Random Tip Widget</a></li>
      <li><a href="./doorbell.html">Doorbell.io integration Example</a></li>
  </ul>
  <p class="name"><small>Created by <a href="https://github.com/josdea">Josh Dean</a> 2017</small></p>
</footer>
</div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js'></script>

    <script src="js/xmlobjectives.js"></script>

</body>
</html>
